*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
    background-color:#1a1a00;
    height: 50px;
    width: 100%;
}
.menu{
    background-color: blue;
}
label{
    font-family: 'Courier New', Courier, monospace;
    color: teal;
    font-size: 23px;
    font-weight: bold;
    float: left;
    padding: 0px,100px;
    margin-left: 30px;
    line-height: 60px;
}
ul{
    width: auto;
    float: right;
    margin-top: 8px;
    
}
li{
    display: inline-block;
    padding: 20px , 15px;
    line-height: 40px;

}
a{
    text-align: center;
    text-decoration: none;
    color:whitesmoke;
    margin-left: 20px;
    padding: 10px 10px;
}
.wrappers ul{
    width: auto;
    float: right;
    margin-top: 8px;
    
}
.wrappers ul li{
    display: inline-block;
    padding: 20px , 15px;

}
.wrappers ul li a{
    text-align: center;
    color:#4d4d33;
}

.sidebar{
    position: fixed;
    background-color:#001a33;
    width: 170px;
    height: 100%;
    line-height: 70px;
}
.sidebar ul li {
    display: block;
}
.sidebar ul a{
    text-align: left;
    color:#e6f2ff;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    line-height: 60px;
    box-sizing: border-box;
}
