*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*wrapper*/
.wrapper{
    background-color:#1a1a00;
    height: 50px;
    width: 100%;
}
/*logo*/
label{
    font-family: 'Courier New', Courier, monospace;
    color: teal;
    font-size: 23px;
    font-weight: bold;
    float: left;
    padding: 0px,100px;
    margin-left: 30px;
    line-height: 60px;
}
/*list*/
ul{
    width: auto;
    float: right;
    margin-top: 8px;
    
}
li{
    display: inline-block;
    padding: 20px , 15px;
    line-height: 40px;

}
a{
    text-align: center;
    text-decoration: none;
    color:whitesmoke;
    margin-left: 20px;
    padding: 10px 10px;
    transition: .4s;
}
a:hover{
    text-decoration: underline;
    background-color: grey;
    border-radius: 15px;
}
.wrappers ul{
    width: auto;
    float: right;
    margin-top: 8px;
    
}
.wrappers ul li{
    display: inline-block;
    padding: 20px , 15px;

}
.wrappers ul li a{
    float: left;
    text-align: center;
    color:#4d4d33;
}
.wrappers ul li a:hover{
    background-color: honeydew;
    border-radius: 15px;
}
/*navigation*/
#mainnav{
    display: inline-block;
    text-align: left;
    font-size: 14px;
    color: #ccffff;
    line-height: 50px;

}
/*sidebar*/

.sidebar{
    position: fixed;
    background-color:#001a33;
    width: 170px;
    height: 100%;
    line-height: 70px;
}
.sidebar ul li {
    display: block;
}
.sidebar ul a{
    float: right;
    color:#e6f2ff;
    width: 150%;
    height: 100%;
    line-height: 30px;
    box-sizing: border-box;
    border-top: 1px solid grey;
    border-bottom: 1px solid black;
    transition: .4s;
}
.sidebar ul li:hover a{
    padding-left: 50px;
    background-color: #00001a;
    border-radius: 18px;
}
.section{
    width: auto;
    border-left: 200px;
    padding-left: 200px;
    display:inline-block;
    text-align: left;

}

